*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montaga',serif;
}

a{
    text-decoration: none;
}

p{
    margin-top: 8px;
    margin-bottom: 8px;
}

.header{
    width: 100%;
    padding: 12px;
    background-color: #1a1a1a;
}

.title{
    color:#f2f2f2;
    display: flex;
    align-items: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}

.main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.text-section-1,
.text-section-2{
    background-color: #333;
    color: #f2f2f2;
    padding: 40px;
}

.text-section-1{
    grid-row: span 2;
    grid-column: span 2;
}

.text-section-2{
    grid-column: span 2;
}

.img-section-1{
    grid-row: span 2;
    grid-column: span 3;
}

.img-section-6{
    grid-column: span 2;
}

.img-section-7{
    grid-column: span 3;
}

.grid-img{
    height: 100%;
    width: 100%;
    display: block;
}

.section-link{
    color: #e68a00;
}

